body{ background-color: #121621;
	margin-left: 3em;
	margin-right: 3em;
	}
img{ 
	width: 14em; 
	margin-right: 0.5em;
	margin-left: 0.5em;
	border: 5px solid #323947;
	border-radius: 3px;
}
p{color: #96A1B8; margin-left: 1em; margin-bottom: 0.1em;
	font-size:1.1em; font-weight: bold; 
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;}
span{color: #96A1B8;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size:0.9em;
	margin-top: 2em;
	margin-bottom: 2em;}
h1{color: #A8BDED; 
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 2.2em;
	margin-bottom: 0.3em;
	letter-spacing: 0.04em;}
h3{color: #A8BDED; padding:0.1em; margin-bottom: 0.1em; font-family: Copperplate, "Copperplate Gothic Light", fantasy;}
form{
	margin-top: 0em;
	margin-bottom: 2.5em;
}
#ilength{color: #B9C4DC;}
div{float:left;}
#permalink{overflow: scroll; background: #fff; width:97%; float: none; white-space: nowrap;
			box-sizing: border-box;
            border: 1px solid #031E39;}
#permalink span{color: #111;}
#themediv {float:right;}

.button {
  background-color: #8eabed;
  border: none;
  border-radius: 4px;
  color: #121621;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
.button:hover {
	background-image: linear-gradient(90deg, #aac7ff 0%, #c6e3ff 20%, #aac7ff 50%, #aac7ff 100%);
	animation:slidebg 20s linear infinite;
}
.button:active {
  transform: scale(1.1, 1.1);
}

.width {
	width:90%;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}